.card {
  margin-top: 20px;
}

form {
  padding: 0 15px;
}

button.submit {
  margin-top: 20px;
}


button.add-sticker {
  margin-top: 20px;
}

label {
  font-size: 0.8em;
}

.close {
  position: absolute;
  top: 0;
  right: 6px;
}
